.footer {
	padding: 50px;
	background-color: #000000;
}

.footer img {
	margin: auto;
	display: block;
	height: 35px;
}
.footer p {
	text-align: center;
	color: white;
	margin-bottom: 0 !important;
}

@media screen and (max-width: 992px) {
	.footer img {
		height: 30px;
	}
}
@media screen and (max-width: 768px) {
	.footer img {
		height: 25px;
	}
	.footer div {
		display: flex;
		justify-content: center;
	}
	.footer div p {
		max-width: 200px;
		font-size: 0.8rem;

		align-items: center;
	}
}
